<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img class="img-responsive center-block" style="max-height: 300px; padding-bottom: 50px" src="./assets/images/logo.jpg">
      </div>

      <div class="text-center">
        Developed by:
      </div>

      <div class="text-center">
        <h3>Brook Hutchinson</h3>
      </div>

      <div class="text-center">
        This is an Angular Single Page Application inspired by Deborah Kurata's Angular Getting Started Pluralsight course.
      </div>

      <div class="text-center">
        All credit goes to Deborah Kurata for providing this example project to use for training purposes.
      </div>
    </div>
  </div>
</div>
