<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div><!-- /card-header -->

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        Filter By:
      </div><!-- /.col-md-2 -->

      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter">
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="products && products.length">
        <thead>
          <tr>
            <th><button class="btn btn-primary" (click)="toggleImage()">{{ showImage ? 'Hide Image' : 'Show Image' }}</button></th>
            <th>Product</th>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
            <th>In Stock</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td><img *ngIf="showImage" [src]="product.imageUrl" [style.margin.px]="imageMargin" [style.width.px]="imageWidth" [title]="product.productName"></td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode | uppercase | convertToSpaces:'-' }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
            <td><star [rating]="product.starRating"></star></td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.card-body -->
</div><!-- /.card -->
